@import "tailwindcss";

@tailwind utilities;


@theme {
    --color-cyprus: #004643;
    --color-cloud-white: #FAFAFA;
    --font-logo: Georgia;
}

@layer base {
    * {
        box-sizing: border-box;
        font-family: sans-serif;
    }

    body {
        background: url(./assets/Surgery.jfif) no-repeat;
        background-color: rgba(0, 0, 0, 0.4);
        background-blend-mode: overlay;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
}

@layer utilities {

    @layer utilities {
        .headings {
            @apply relative after:content-[''] after:absolute after:top-[80px] sm:after:top-[60px] after:left-[47%] after:w-[5%] after:h-[2px] after:bg-[#004643] dark:after:bg-cloud-white;
        }
    }


    .active::before {
        content: '';
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #004643;
    }

    @media (prefers-color-scheme: dark) {
        .active::before {
            background-color: #FAFAFA;
        }
    }

    .nav-link:not(.active)::before {
        content: '';
        position: absolute;
        top: 30px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #004643;
        transition: width 0.3s ease;
    }

    .nav-link:not(.active):hover::before {
        width: 100%;
    }

    @media (prefers-color-scheme: dark) {
        .nav-link:not(.active)::before {
            background-color: #FAFAFA;
        }
    }

    .medinfo {
        transition: all ease 0.5s;
    }

    .medinfo:hover {
        transform: translateY(-8px);
        border-bottom: 1px solid #00464381;
        border-right: 1px solid #00464381;
        border-left: 1px solid #00464381;
    }
}