@import "tailwindcss";

@theme {
    --color-cyprus: #004643;
    --color-cloud-white: #FAFAFA;
    --font-logo: Georgia;
}

@layer base {
    * {
        box-sizing: border-box;
        font-family: sans-serif;
    }

    body {
        background: url(./assets/Surgery.jfif) no-repeat;
        background-color: rgba(0, 0, 0, 0.4);
        background-blend-mode: overlay;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
}

@layer utilities {
    .active::before {
        content: '';
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #004643;
    }

    .nav-link:not(.active)::before {
        content: '';
        position: absolute;
        top: 30px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #004643;
        transition: width 0.3s ease;
    }

    .nav-link:not(.active):hover::before {
        width: 100%;
    }

    .transition {
        transition: all ease 0.5s;
    }

    .transition:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }

    .headings::before {
        content: '';
        position: absolute;
        top: 60px;
        left: 47%;
        width: 5%;
        height: 2px;
        background-color: #004643;
    }

    .medinfo {
        transition: all ease 0.5s;
    }

    .medinfo:hover {
        transform: translateY(-8px);
        border-bottom: 1px solid #00464381;
        border-right: 1px solid #00464381;
        border-left: 1px solid #00464381;
    }
}